<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">Roles</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button (click)="showCreateModal()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#idModal">
                Create New
              </button>
            </div>
          </div>
          <div *ngIf="messageDelete" class="alert alert-danger">
            <strong>Fail!</strong> {{messageDelete}}.
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>
                  <em class="fa fa-cog"></em>
                </th>
                <th class="hidden-xs">ID</th>
                <th>Libellé</th>
                <th>Date creation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let role of pagedItems'>
                <td align="center">
                  <a (click)="showEditModal(role)" class="btn btn-default" data-toggle="modal" data-target="#idModal">
                    <em class="fa fa-pencil"></em>
                  </a>
                  <button (click)="deleteRoles(role)" class="btn btn-danger">
                    <em class="fa fa-trash"></em>
                  </button>
                </td>
                <td>{{role.role_id}}</td>
                <td>{{role.libelle}}</td>
                <td>{{role.date_creation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-4">Page {{pager.currentPage}} of {{pager.totalPages}}
            </div>
            <nav aria-label="Page navigation example">
              <div class="col col-xs-6 text-right">
                <ul class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                    <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
                  </li>
                  <div *ngFor="let page of pager.pages">
                    <li class="page-item" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)" class="page-link">{{page}}</a>
                    </li>
                  </div>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                    <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal (saveFormParent)='saveForm($event)' [modalFormChild]="modalForm" [titleModalChild]="titleModalParent" [labelSaveBtnChild]="labelBtnSaveParent"
  [editRoleChild]="editRole" [editModeChild]="editModeParent" [createModeChild]="createModeParent"></app-modal>