<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">Roles</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Create New
              </button>
            </div>
          </div>
          <div *ngIf="messageDelete" class="alert alert-danger">
            <strong>Fail!</strong> {{messageDelete}}.
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>
                  <em class="fa fa-cog"></em>
                </th>
                <th class="hidden-xs">ID</th>
                <th>Libellé</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let role of pagedItems'>
                <td align="center">
                  <a class="btn btn-default">
                    <em class="fa fa-pencil"></em>
                  </a>
                  <button (click)="deleteRoles(role)" class="btn btn-danger">
                    <em class="fa fa-trash"></em>
                  </button>
                </td>
                <td>{{role.role_id}}</td>
                <td>{{role.libelle}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-4">Page {{pager.currentPage}} of {{pager.totalPages}}
            </div>
            <div class="col col-xs-8">
              <!-- items being paged -->
              <div *ngFor="let item of pagedItems">{{item.name}}</div>
              <!-- pager -->
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createRoleForm" (ngSubmit)="addRoles(createRoleForm)">
          <div *ngIf="statut && iscreated" class="alert alert-success">
            <strong>Success!</strong> The role has been created.
          </div>
          <div *ngIf="!statut && iscreated" class="alert alert-danger">
            <strong>Fail!</strong> The role has not been created.
          </div>
          <fieldset>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-8">
                <input formControlName="libelle" type="text" class="form-control" id="input2LibelleForm" placeholder="role">
                <div class="alert-danger" *ngIf="!createRoleForm.controls['libelle'].valid && createRoleForm.controls['libelle'].touched">
                  <div [hidden]="!createRoleForm.controls['libelle'].errors.required">
                    Libelle is required.
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button (click)="resetModalForm()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!createRoleForm.valid">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>