<div id="idModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titleModalChild}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modalFormChild">
          <fieldset>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-8">
                <input *ngIf="editModeChild" formControlName="role_id" type="hidden" class="form-control" value="{{editRoleChild.role_id}}">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-8">
                <input *ngIf="editModeChild" formControlName="libelle" type="text" class="form-control" id="input2LibelleForm" placeholder="role"
                  value="{{editRoleChild.libelle}}">
                <input *ngIf="createModeChild" formControlName="libelle" type="text" class="form-control" id="input2LibelleForm" placeholder="role">
                <div class="alert-danger" *ngIf="!modalFormChild.controls['libelle'].valid && modalFormChild.controls['libelle'].touched">
                  <div [hidden]="!modalFormChild.controls['libelle'].errors.required">
                    Libelle is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-8">
                <input formControlName="date_creation" type="datetime-local" class="form-control">
              </div>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button (click)="saveForm(modalFormChild)" [disabled]="!modalFormChild.valid" type="button" class="btn btn-primary">{{labelSaveBtnChild}}</button>
            <button #idBtnCloseModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>