<div id="idModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titleModalChild}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modalFormChild">
          <fieldset>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-8">
                <input *ngIf="editModeChild" formControlName="role_id" type="hidden" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group offset-sm-2 col-sm-8">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle text-info"></i></div>
                </div>
                <input [ngClass]="getCssClassInput('libelle')" formControlName="libelle" type="text" class="form-control" placeholder="role">
              </div>
              <div class="offset-sm-2 col-sm-8">
                <div class="error" *ngIf="!modalFormChild.controls['libelle'].valid && modalFormChild.controls['libelle'].touched">
                  <div [hidden]="!modalFormChild.controls['libelle'].hasError('required')" class="alert alert-danger">
                    Libelle is required.
                  </div>
                  <div [hidden]="!modalFormChild.controls['libelle'].hasError('maxlength')" class="alert alert-danger">
                    Libelle is too long (10 chars max).
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="input-group offset-sm-2 col-sm-8">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar text-info"></i></div>
                </div>
                <input [ngClass]="getCssClassInput('date_creation')" formControlName="date_creation" type="datetime-local" class="form-control">
              </div>
              <div class="offset-sm-2 col-sm-8">
                <div class="error" *ngIf="!modalFormChild.controls['date_creation'].valid && modalFormChild.controls['date_creation'].touched">
                  <div [hidden]="!modalFormChild.controls['date_creation'].hasError('required')" class="alert alert-danger">
                    Good format date is required.
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button (click)="saveForm(modalFormChild)" [disabled]="!modalFormChild.valid" type="button" class="btn btn-primary">{{labelSaveBtnChild}}</button>
            <button #idBtnCloseModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>