<div class="container-fluid bg-light py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <a routerLink='/login' class="btn btn-outline-secondary">Login</a>
            <a routerLink='/register' class="btn btn-outline-secondary">Register</a>
        </div>
    </div>
</div>
<div class="container-fluid bg-light py-3">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Register</h3>
                    <form [formGroup]="registerForm" (ngSubmit)="addUsers(registerForm)">
                        <div *ngIf="statut && iscreated" class="alert alert-success">
                            <strong>Success!</strong> The user has been  created.
                        </div>
                        <div *ngIf="!statut && iscreated" class="alert alert-danger">
                            <strong>Fail!</strong> The user has not been created.
                        </div>
                        <fieldset>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-8">
                                    <input [ngClass]="getCssClassInput('username')" formControlName="username" type="text" class="form-control" id="input2UsernameForm" placeholder="username">
                                    <div *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].touched">
                                        <div [hidden]="!registerForm.controls['username'].errors.required" class="alert alert-danger">
                                            Username is required.
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-8">
                                    <input [ngClass]="getCssClassInput('firstname')" formControlName="firstname" type="text" class="form-control" id="input2FirstnameForm" placeholder="firstname">
                                    <div *ngIf="!registerForm.controls['firstname'].valid && registerForm.controls['firstname'].touched">
                                        <div [hidden]="!registerForm.controls['firstname'].errors.required" class="alert alert-danger">
                                            Firstname is required.
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-8">
                                    <input [ngClass]="getCssClassInput('lastname')" formControlName="lastname" type="text" class="form-control" id="input2LastnameForm" placeholder="lastname">
                                    <div *ngIf="!registerForm.controls['lastname'].valid && registerForm.controls['lastname'].touched">
                                        <div [hidden]="!registerForm.controls['firstname'].errors.required" class="alert alert-danger">
                                            Lastname is required.
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-8">
                                    <input [ngClass]="getCssClassInput('email')" formControlName="email" type="text" class="form-control" id="input2EmailForm" placeholder="email">
                                    <div *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
                                        <div [hidden]="!registerForm.controls['email'].errors.required" class="alert alert-danger">
                                            Email is required.
                                        </div>    
                                    </div>
                                    <div *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
                                        <div [hidden]="!registerForm.controls['email'].errors.pattern" class="alert alert-danger">
                                            Email not valid.
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-8">
                                    <input [ngClass]="getCssClassInput('password')" formControlName="password" type="text" class="form-control" id="input2PasswordForm" placeholder="password">
                                    <div *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
                                        <div [hidden]="!registerForm.controls['password'].errors.required" class="alert alert-danger">
                                            Password is required.
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-8">
                                    <select class="form-control input-lg" formControlName="role_id">
                                        <option *ngFor="let role of allRoles" [value]="role.role_id">
                                            {{role.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-8 pb-3 pt-2">
                                    <button type="submit" class="btn btn-secondary-outline btn-lg btn-block" [disabled]="!registerForm.valid">Register</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>